/* @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 12vh;
    width: 100%;
    box-shadow: 2px 2px 1px rgb(218, 214, 214);
    padding: 0 40px;
    font-family: "Poppins", sans-serif;
}

#header h1 {
    color: #00CBD5;
    /* font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 700; */
    font-weight: 700;
    /* bold like Weverse */
    font-size: 28px;
    /* Weverse teal/green */
    letter-spacing: -1px;
    /* thoda condensed */
}

.dv ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dv ul li {
    margin-left: 25px;
    cursor: pointer;
    width: 45px;
    /* fixed width */
    height: 45px;
    /* fixed height */
    display: flex;
    /* center content */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* ab perfect circle */
    transition: all 0.3s ease;
    /* smooth effect */
}

.dv ul li:hover {
    transform: scale(1.1);
    /* thoda bada hoga */

    background-color: #F5F5F5;

}

.dv ul li img {
    height: 28px;
    width: 28px;
    object-fit: contain;
}